<div id="cart" class="btn-group btn-block">
    <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}"
            class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span
                id="cart-total">{{ text_items }}</span></button>
    <ul class="dropdown-menu pull-right">
        {% if products or vouchers %}
            <li>
                <div class="table table-striped">
                    {% for product in products %}
                        <div class="single-product">
                            <div class="text-center product-thumbnail">{% if product.thumb %} <a href="{{ product.href }}"><img
                                            src="{{ product.thumb }}" alt="{{ product.name }}"
                                            title="{{ product.name }}" class="img-thumbnail"/></a> {% endif %}</div>
                            <div class="text-left product-title"><a
                                        href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
                                    {% for option in product.option %} <br/>
                                        -
                                        <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
                                {% endif %}
                                {% if product.recurring %} <br/>
                                    -
                                    <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</div>
                            <div class="text-right">x{{ product.quantity }}</div>
                            <div class="text-right">{{ product.total }}</div>
                            <div class="text-center">
                                <button type="button" onclick="cart.remove('{{ product.cart_id }}');"
                                        title="{{ button_remove }}" class="btn btn-danger btn-xs"><i
                                            class="fa fa-times"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    {% for voucher in vouchers %}

                            <div class="text-center"></div>
                            <div class="text-left">{{ voucher.description }}</div>
                            <div class="text-right">x&nbsp;1</div>
                            <div class="text-right">{{ voucher.amount }}</div>
                            <div class="text-center text-danger">
                                <button type="button" onclick="voucher.remove('{{ voucher.key }}');"
                                        title="{{ button_remove }}" class="btn btn-danger btn-xs"><i
                                            class="fa fa-times"></i></button>
                            </div>

                    {% endfor %}
                </div>
            </li>
            <li>
                <div>
                    <div class="table finally-price">
                        {% for total in totals %}

                                <div class="text-left"><strong>{{ total.title }}</strong></div>

                                <div class="text-right">{{ total.text }}</div>
                            <hr>
                        {% endfor %}
                    </div>

                    <p class="text-right"><a href="{{ cart }}"><strong><i
                                        class="fa fa-shopping-cart"></i> {{ text_cart }}
                            </strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i
                                        class="fa fa-share"></i> {{ text_checkout }}</strong></a></p>
                </div>
            </li>
        {% else %}
            <li>
                <p class="text-center">{{ text_empty }}</p>
            </li>
        {% endif %}
    </ul>
</div>
