@font-face {
	font-family: MyriadPro-Regular;
	src: url(fonts/MyriadPro-Regular/MyriadPro-Regular.ttf);
	src: url(fonts/MyriadPro-Regular/MyriadPro-Regular.eot);
	src: url(fonts/MyriadPro-Regular/MyriadPro-Regular.woff);
	src: url(fonts/MyriadPro-Regular/MyriadPro-Regular.woff2);
}

@font-face {
	font-family: ITCEDSCR;
	src: url(fonts/ITCEDSCR/ITCEDSCR.ttf);
	src: url(fonts/ITCEDSCR/ITCEDSCR.eot);
	src: url(fonts/ITCEDSCR/ITCEDSCR.woff);
	src: url(fonts/ITCEDSCR/ITCEDSCR.otf);
}

body {
	font-family: MyriadPro-Regular;
	font-weight: 400;
	color: #343e5c;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	background: #deeae0;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 25px;
}
h2 {
	font-size: 23px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #888;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 14px;
	font-weight: normal;
}
.form-control {
	border: 2px solid #e3e8f0;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
legend {
	margin-bottom: 0;
}
.form-horizontal .form-group {
	margin: 0;
}
.well {
	border: none;
	background: #ffffff;
	border-radius: 0;
}
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	background: #e3e8f0;;
}
/* top */
#top {
	background-color: #FFFFFF;
	border-bottom: 1px solid #e2e2e2;
	padding: 20px 0;
	margin: 0 0 50px;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	background: #e3e8f0;
}
#top .btn-link, #top-links li, #top-links a {
	color: #343e5c;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	vertical-align: middle;
}
#top-links li {
	position: relative;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #343e5c;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 0;
	position: relative;
}
#top-links ul {
	margin-bottom: 0;
}
#top-links a + a {
	margin-left: 15px;
}
@media (max-width: 478px) {
	#top-links .dropdown-menu a {
		margin: 0 auto;
		display: block;
	}
}
/* logo */
#logo {
	margin: auto;
}
#logo h1 {
	margin: 0;
}
#logo a {
	color: #343e5c;
	font-family: ITCEDSCR;
	font-size: 40px;
}
/* search */
#search {
	margin-bottom: 10px;
	width: 260px;
	z-index: 100;
}
.search-bg {
	display: none;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index:99;
}
#top-links #search {
	display: none;
	position: absolute;
	right: 0;
}
#top-links #search .input-group-btn {
	position: absolute;
	right: 35px;
}
#top-links #search .btn-lg {
	border: none;
	padding: 10px;
	background: transparent;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
	border-radius: 6px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
.search-button {
	cursor: pointer;
}
/* cart */
#cart {
	margin-bottom: 0;
}
#cart > .btn {
	font-size: 14px;
	line-height: 18px;
	color: #343e5c;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
	padding: 0;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}

#cart .dropdown-menu .table-striped {
	background: #ddd;
	margin-bottom: 10px;
}
#cart  .single-product {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 10px;
}
.finally-price hr{
	margin-top: 0;
}
.finally-price > div {
	display: inline-block;
	width: 49%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
	#cart .dropdown-menu .single-product {
		flex-wrap: wrap;
	}
	#cart .product-thumbnail {
		flex: 0 0 100%;
	}
	#cart .product-title {
		flex: 0 0 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
@media (max-width: 530px) and (min-width: 475px) {
	.dropdown-menu.pull-right {
		right: -40px;
	}
}
/* menu */
#menu {
	background: #e6e6e6;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #343e5c;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* main-page */
.category-title {
	background: #ffffff;
	border-radius: 4px;
	padding: 20px;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#common-home {
	overflow: hidden;
	margin-top: -50px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color:#222328;
	border-top: 1px solid #ddd;
	color: #ffffff;
}
footer .list-unstyled{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .list-unstyled li {
	flex: 1 1 100px;
	margin: 0 8px;
	text-align: center;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
.social-links ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.social-links li {
	flex: 0 0 45px;
	text-align: center;
}
.social-links i {
	font-size: 25px;
}
/* alert */
.alert {
	color: #343e5c;
	padding: 8px 25px 8px 14px;
	background: #FFFFFF;
	border: 2px solid #e3e8f0;
	border-radius: 4px;
	position: relative;
}
.alert .close {
	right: 0;
}
@media (max-width: 493px) {
	.alert .close {
		position: absolute;
		right: 10px;
		top: 6px;
	}
}
/* register-form */

.register-form {
	background: #ffffff;
	padding: 20px;
}
.register-form .form-group {
	width: 49%;
	display: inline-block;
	padding: 10px 20px;
	vertical-align: top;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 15px 0;
	padding: 0;
	background: transparent;
}
.breadcrumb a {
	color: #343e5c;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li:first-child {
	padding-left: 0;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	right: -5px;
	width: 10px;
	height: 10px;
	border-right: 1px solid #333;
	border-bottom: 1px solid #444;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 0 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 14px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background: #FFFFFF;
	border: 2px solid #e3e8f0;
}
.btn-primary {
	color: #888;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #ffffff;
	border: 2px solid #e3e8f0;
	border-radius: 4px;
	padding: 10px 16px;
	text-transform: uppercase;
	font-size: 15px;
}
.centered-btn {
	margin: 0 auto;
	width: 129px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], .btn-primary.focus, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
	border-color: #adadad;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #343e5c;
	padding: 7px;
	background-color: #ffffff;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #343e5c;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
	border: 2px solid #e3e8f0;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #e3e8f0;
}
.btn-bookmarks {
	padding: 11px 16px;
	width: 18%;
}
#button-cart {
	width: 80%;
	display: inline-block;
	text-transform: uppercase;
}
#product {
	margin-top: 20px;
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border-radius: 4px;
	background: #ffffff;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
	padding: 20px;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: auto;
	text-align: center;
}
.product-thumb .caption a {
	color: #1c1e23;
	text-align: center;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	font-size: 16px;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	background-color: #ffffff;
	overflow: auto;
	padding: 0 20px 20px;
	text-align: center;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	display: inline-block;
	background: #FFFFFF;
	border: 2px solid #e3e8f0;
	border-radius: 4px;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0 5px;
}
.product-thumb .button-group button + button {
	width: 20%;
	background: #FFFFFF;
	border: 2px solid #e3e8f0;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 16%;
	display: inline-block;
	vertical-align: top;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 15px;
	padding: 5px;
	display: block;
	border: none !important;
	border-radius: 0 !important;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	margin-left: 20px;
}
.large-thumbnails {
	padding-left: 0;
	list-style: none;
	width: 79%;
	display: inline-block;
}
.large-thumbnails a {
	border: none !important;
	border-radius: 0 !important;
}
.product-card {
	background: #ffffff;
	padding:20px;
}
.product-card h1 {
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
}
.product-card hr {
	margin-top: 1px;
}
.product-price {
	width: 29%;
	display: inline-block;
	vertical-align: middle;
}
.product-price h2 {
	margin: 0;
}
@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {

    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

/* slider */

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	height: 100%;
	width: 100%;
}

@media (max-width: 768px) {
	#logo h1 {
		text-align: center;
	}
	#top-links {
		text-align: center;
		margin-top: 20px;
		float: none !important;
	}
	#top {
		padding: 5px 20px;
	}
	.social-links {
		margin-top: 21px;
	}
	.social-links ul {
		justify-content: center;
	}
}

@media (max-width: 480px) {
	#top-links {
		margin-top: 5px;
	}
}